*{
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: Arial;
}

.card{
    width: 300px;
    height: 400px;
    background: URL('https://odinkeane.github.io/web-developer/0605_2/day.jpeg');
    background: cover;
    border-radius: 20px;
    margin: 20px auto;
    overflow: hidden;
    filter: brightness(0.5);
    transition: 1s;
}

.card:hover{
    filter: none;
}

.card h2{
    text-align: center;
    padding: 10px;
    font-size: 44px;
    text-transform: uppercase;
    color: white;
    mix-blend-mode: multiply;
    transition: 1s;
}

.card:hover h2{
    background-color: black;
}

